.game_area {
    text-align: center;
    transform: translateY(200%);

}

#lives img {
    width: 50px;
    height: 50px;
}

h1, h4 {
    text-align: center;
}

p {
    text-align: center;
}

.guess_btn{
    width: 35px;
    height: 25px;
    transform: translateY(33%);
}

.reset_btn{
    width: 35px;
    height: 25px;
    transform: translate(-15%, 33%);
}

#guess_num {
    border-radius: 20%;
}

#guess_btn {
    width: 35px;
    height: 25px;
    transform: translateY(33%);
}



#reset_btn {
    width: 35px;
    height: 25px;
    transform: translateY(33%);
}

.para_container {
    box-sizing: border-box;
    position: relative;
    margin: auto;
    width: 800px;
    height: 340px;
    overflow: hidden;
    z-index: -1;
    background-position: center;
}

.para_element {
    position: absolute;
    width: 100%;
}
/*keyframes animation : name of keyframes, duration, animation timing, count*/
#background1 {
    animation: background_parallax 10s linear infinite;
}

#background2 {
    left: 100%;
    animation: background_parallax2 10s linear infinite;

}

@keyframes background_parallax {
    0% {
        left: 0%
    }
    100% {
        left: -100%
    }
}

@keyframes background_parallax2 {
    0% {
        left: 100%
    }
    100% {
        left: 0%
    }
}

#ground1 {
    bottom: 0;
    animation: ground_parallax 5s linear infinite;
}

#ground2 {
    left: 100%;
    bottom: 0;
    animation: ground_parallax2 5s linear infinite;
}

@keyframes ground_parallax {
    0% {
        left: 0%
    }
    100% {
        left: -100%
    }
}

@keyframes ground_parallax2 {
    0% {
        left: 100%
    }
    100% {
        left: 0%
    }
}
/*animation: name, duration, number of sprites, iteration*/
/*transition is to move the sprites to another location smoothly*/
#mario {
    background-image: url("images/mario_sprites.png");
    position: absolute;
    left: 5%;
    top: 5%;
    width: 35px;
    height: 32px;
    animation: play .7s steps(3) infinite;
    transition: all 1s ease 0s;
}

@keyframes play {
    from { background-position: 0; }
    to { background-position: -105px; }
}

#mario_dies {
    background-image: url("images/mario_dies.png");
    position: absolute;
    left: 90%;
    top: 60%;
    width: 25px;
    height: 39px;
    animation: mario_die .7s steps(2) infinite;
    /*transition: all 1s ease 0s;*/
}

@keyframes mario_die {
    from { background-position: 0; }
    to { background-position: -50px; }
}

#bullet {
    background-image: url("images/bullet.png");
    position: absolute;
    display: none;
    right: -16%;
    bottom: 10%;
    width: 128px;
    height: 128px;
    animation: banzai 2s linear;
}

@keyframes banzai {
    0% {
        right: 0%
    }
    100% {
        right: 100%
    }
}